body {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

.header {
    color: green;
    text-align: center;
}
.imageItem {
    display: block;
    margin: 0 auto;    
}
.imageAuthor {
    text-align: center;
}